.row
  #info.span12
    %p.centered
      This Space is a Joint Venture between 
      %a{href: "http://twitter.com/braidn"}Awesome 
      and 
      %a{href: "http://twitter.com/david_horne"} Brilliant 
      feel free to contact us with any questions

