.row
  .span12
    %h2#handcrafted.centered Handcrafted in the Triad
.row
  .span6.startupsLeft.pagination-center
    =partial 'startups/left'
  .span6.startupsRight.pagination-center
    =partial 'startups/right'
%hr/
.row
  #info.span12
    %p.centered
      Are you a local startup and looking to show off your logo above? 
      %a{href: 'https://docs.google.com/forms/d/1G-bEqkTRdGAGKXtXXHzOyaXJRpD-FDbFczcQmrm9aTM/viewform'}contact us!
    %p.centered
      This Space is a Joint Venture between 
      %a{:href => "http://twitter.com/braidn"}Awesome 
      and 
      %a{:href => "http://twitter.com/david_horne"} Brilliant 
      feel free to contact us with any questions.
    %p.centered
      Want to help out? We are looking for design/development assistance. 
      %a{:href => "https://github.com/bradendouglass/t_startups#be-a-contributor"} Just fork, edit, and request!
    %p.centered
      %b
        %a{:href => "https://github.com/braidn/t_startups/contributors"} Our Fabulous Contributors
