.row
  .span4.offset4
    %h2 Handcrafted in the Triad
.row
  .span6.startupsLeft
    =partial 'startups/left'
  .span6.startupsRight
    =partial 'startups/right'
%hr/
.row
  #info.span12
    %p.centered
      This Space is a Joint Venture between 
      %a{href: "http://twitter.com/braidn"}Awesome 
      and 
      %a{href: "http://twitter.com/david_horne"} Brilliant 
      feel free to contact us with any questions.
    %p.centered
      Want to help out? We are looking for design/development assistance. 
      %a{href: "https://github.com/bradendouglass/t_startups#be-a-contributor"}Just fork, edit, and request!
