.row
  #startups.span12
    %ul
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
      %li
        %a{:href => '#'}
          Startup1
