%aside
  %img{:src => "#{lorem.image('150x150')}"}
#startups
  %ul
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
    %li
      %a{:href => '#'}
        Startup1
