<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
  <form action="http://magnetic-ideas.us6.list-manage2.com/subscribe/post?u=abe76def449570099ce4c513b&amp;id=270bdcdc5b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="clear"><input type="submit" value="Sign Me Up" name="subscribe" id="mc-embedded-subscribe" class="button", style="font-size: 20px; font-weight:bold;"></div>
  </form>
</div>
