.row
  .span10.offset1
    %img{ :src => "/images/nc-target.png", :alt => "nc" }/
.article.content
  .row
    %p.span6
      %i.icon-flag
      There is a ton of talent in the North Carolina Triad. 
      %b Winston Salem, 
      %b Greensboro 
      and 
      %b High Point 
      have a growing startup community and our goal is for you to get to know the people  and companies making things happen. Triad Startups will showcase the growing startups in our community and provide useful resources to entrepreneurs, innovators and investors in the Triad
    .span6
      =partial 'mailchimp_inline'
  .row
    %h3.span9.offset2
      %a{:href => '#'}
        Are you a Triad startup and want to be added to our directory?
